html { 
	background:#DCDCDC; 
	font-family:'Monaco', 'Andale Mono', 'Deja Vu Sans Mono', 'Consolas', monospace;
	font-size:1em; 
	box-sizing: border-box;
	padding: 0em;
	margin:0; 
}

body { 
	padding: 0em;
	margin:0; 
}

* { box-sizing: border-box; }

.grid {
  /* center */
  margin: 0 auto;
  margin-top: 20px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 350px;
  float: left;
  background: #D26;
  margin-bottom: 20px;
  border-radius: 2px;
}


/* LINK */
a { 
	color:#000; 
	text-decoration:underline; 
}
a#urlseen { 
	color:#666;  
}

/* ENTRY */
.grid-item { 
	color:#000; 
	background:#999;
	padding:0.5em; 
	min-height:2.4em;
	float:left;
}

/* TAGS */
#tags { 
	font-size:0.8em;
	color:#000; 
}

/* NOTE, QUOTE, TERM */
#note, #quote, #term {
	padding-top: 1em;
	font-size:0.8em;
	color:#000; 
}

/* TYPE */
#type {
	text-align: center;
	vertical-align: top;
	width: 40px; 
	height: 40px;
	position: absolute;
    top: 8px;
    right: 5px;
	color:#666; 
	font-size:1.5em;
}